@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin: 25px;
}

.flex-nav {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 250px;
    height: 18px;
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background: transparent;
    background-color: rgba(59, 59, 59, 0.274);
    border: 1px solid lightgrey;
    color: white;
}

input:focus {
    outline: none;
}

.btn {
    padding: 0;
    margin-left: -35px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
#nf {
    margin-top: 150px;
    height: 70vh;
    font-size: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.709);
}

.nf-h2 {
    margin-top: 0;
}

.movieContaier {
    display: flex;
    gap: 20px;
    width: 900px;
    margin: 100px auto;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.709);
}

.f-name {
    font-size: 1em;
    font-weight: 600;
}

.f-p {
    color: rgba(255, 255, 255, 0.687);
    font-size: 0.5em;
    font-weight: normal;
}

#poster {
    /* width: 900px; */
    border-radius: 12px;
}

.d-none {
    display: none;
}